.env
collection_*
vinyl_unwrapped*
__pycache__
lastfm_*

# Ignore everything in unwrapped folder
unwrapped/*
unwrapped/*/

# But keep the index.html
!unwrapped/index.html
!unwrapped/css/style.css
!unwrapped/js/chart.js
